@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #6e768166;
}

::-webkit-scrollbar-thumb {
  background: #2b3138;
}

.cm-hyper-link-icon svg {
  margin-top: -2px;
  width: 14px;
  height: 14px;
}

/* CodeMirror fit parent */
html,
body,
#root,
.playground-container {
  padding: 0;
  margin: 0;
  height: 100%;
}

.playground-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.playground-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cm-outer-container {
  flex: 1;
}

.cm-editor {
  flex: 1;
  height: 100%;
  position: relative;
}

.cm-scroller {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.cm-content {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.cm-focused {
  outline: none !important;
}